<a href="https://colab.research.google.com/github/Jittiya/Co-operative-Education-Science./blob/main/Forecast_unemplloyment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
import numpy as np

In [3]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [4]:
path = '/content/drive/My Drive/Co-operative/data'

In [6]:
dataFore = pd.read_excel(os.path.join(path,'ข้อมูลจำนวนผู้ว่างงาน รายเดือน รายไตรมาส .xlsx'))
dataFore

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
0    2545.0                  1406.27      มกราคม  2.224497
1    2545.0                   934.94  กุมภาพันธ์  1.477905
2    2545.0                   901.54      มีนาคม  1.424119
3    2545.0                  1248.13      เมษายน  1.970240
4    2545.0                  1003.53     พฤษภาคม  1.583020
..      ...                      ...         ...       ...
247  2565.0                   492.90     สิงหาคม       NaN
248  2565.0                   462.80     กันยายน       NaN
249  2565.0                   559.80      ตุลาคม       NaN
250  2565.0                      NaN   พฤศจิกายน       NaN
251  2565.0                      NaN     ธันวาคม       NaN

[252 rows x 4 columns]

## แทนด้วยค่ากลางของคอลัมน์นั้น (Mean)

ในกรณีนี้จะหาค่ากลาง(mean) ของแต่ละคอลัมน์นั้น แล้วนำไปเติมในช่องที่เป็นค่าว่าง

In [7]:
dataFore[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    487.567787
dtype: float64

In [8]:
# หา mean
avg_unemploy = dataFore[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
dataFore[['จำนวนผู้ว่างงาน (พันคน)']] = dataFore[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy)

In [15]:
dataFore[['ร้อยละ']].mean()

ร้อยละ    0.80214
dtype: float64

In [13]:
# หา mean
avg_Per = dataFore[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
dataFore[['ร้อยละ']] = dataFore[['ร้อยละ']].fillna(avg_Per)

In [14]:
dataFore

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
0    2545.0              1406.270000      มกราคม  2.224497
1    2545.0               934.940000  กุมภาพันธ์  1.477905
2    2545.0               901.540000      มีนาคม  1.424119
3    2545.0              1248.130000      เมษายน  1.970240
4    2545.0              1003.530000     พฤษภาคม  1.583020
..      ...                      ...         ...       ...
247  2565.0               492.900000     สิงหาคม  0.802140
248  2565.0               462.800000     กันยายน  0.802140
249  2565.0               559.800000      ตุลาคม  0.802140
250  2565.0               487.567787   พฤศจิกายน  0.802140
251  2565.0               487.567787     ธันวาคม  0.802140

[252 rows x 4 columns]

In [16]:
set(dataFore["ปี"])

{2545.0,
 2546.0,
 2547.0,
 2548.0,
 2549.0,
 2550.0,
 2551.0,
 2552.0,
 2553.0,
 2554.0,
 2555.0,
 2556.0,
 2557.0,
 2558.0,
 2559.0,
 2560.0,
 2561.0,
 2562.0,
 2563.0,
 2564.0,
 2565.0}

In [17]:
set(dataFore["จำนวนผู้ว่างงาน (พันคน)"])

{157.58,
 162.65,
 171.65,
 190.64,
 203.57,
 209.96,
 219.23,
 219.45,
 219.79,
 222.52,
 224.21,
 225.95,
 241.35,
 245.08,
 247.04,
 248.18,
 254.67,
 256.34,
 263.71,
 266.85,
 267.65,
 267.99,
 270.41,
 270.52,
 276.4,
 284.01,
 284.65,
 284.73,
 286.65,
 288.5,
 295.26,
 299.96,
 300.14,
 302.5,
 302.91,
 310.51,
 314.5,
 315.91,
 316.83,
 319.53,
 321.02,
 321.8,
 321.95,
 323.87,
 328.55,
 331.14,
 333.66,
 335.4,
 340.72,
 343.31,
 344.07,
 345.74,
 346.05,
 346.48,
 346.52,
 346.54,
 349.41,
 349.99,
 352.86,
 354.39,
 354.74,
 354.77,
 355.24,
 355.9,
 359.02,
 359.97,
 361.43,
 362.18,
 363.13,
 363.86,
 363.99,
 366.95,
 367.46,
 369.12,
 372.84,
 373.93,
 376.5,
 377.32,
 378.07,
 378.3,
 378.79,
 381.74,
 382.47,
 383.02,
 383.93,
 384.8,
 384.98,
 389.48,
 389.61,
 391.27,
 391.77,
 391.86,
 392.26,
 396.04,
 396.95,
 401.71,
 402.55,
 404.01,
 404.5,
 405.51,
 410.46,
 414.93,
 415.14,
 419.5,
 419.6,
 420.6,
 425.22,
 426.05,
 426.37,
 426.63,
 429.33,
 429.71,
 432.11,
 435.23,
 436.07,
 437.34,
 440.3,
 440.67,
 443.42,
 446.29,
 446.56,
 447.63,
 447.75,
 448.8,
 450.03,
 450.89,
 451.38,
 453.49,
 457.48,
 458.1,
 459.48,
 459.8,
 462.8,
 471.72,
 472.97,
 474.55,
 475.7,
 476.33,
 480.58,
 487.56778723404244,
 488.28,
 489.49,
 489.7,
 490.83,
 491.44,
 492.9,
 493.03,
 495.67,
 501.35,
 503.41,
 505.9,
 507.4,
 508.26,
 508.6,
 512.52,
 513.7,
 516.93,
 519.59,
 522.25,
 523.47,
 529.92,
 534.88,
 535.51,
 537.1,
 538.54,
 540.41,
 540.48,
 545.65,
 545.9,
 547.24,
 548.65,
 550.78,
 554.86,
 555.0,
 559.8,
 560.52,
 562.28,
 562.44,
 565.4,
 576.69,
 578.68,
 580.6,
 585.82,
 589.66,
 590.03,
 597.66,
 601.8,
 614.28,
 618.6,
 622.63,
 631.2,
 632.99,
 633.9,
 637.77,
 641.04,
 642.6,
 655.62,
 674.99,
 693.0,
 693.58,
 710.67,
 714.62,
 719.38,
 723.9,
 725.1,
 733.39,
 734.9,
 759.26,
 764.9,
 769.0,
 781.17,
 783.76,
 788.11,
 808.8,
 810.19,
 816.77,
 829.28,
 830.95,
 840.66,
 868.79,
 878.9,
 887.29,
 901.54,
 917.88,
 926.68,
 934.94,
 944.53,
 988.19,
 996.33,
 1003.53,
 1152.6,
 1153.56,
 1248.13,
 1279.55,
 1406.27}

In [18]:
set(dataFore["เดือน"])

{'กรกฎาคม',
 'กันยายน',
 'กุมภาพันธ์',
 'ตุลาคม',
 'ธันวาคม',
 'พฤศจิกายน',
 'พฤษภาคม',
 'มกราคม',
 'มิถุนายน',
 'มีนาคม',
 'สิงหาคม',
 'เมษายน'}

In [19]:
set(dataFore["ร้อยละ"])

{0.0,
 0.3,
 0.301281925418414,
 0.316479326515768,
 0.377394518815963,
 0.4,
 0.404828470024264,
 0.484528611571458,
 0.497418867200778,
 0.498859096458005,
 0.5,
 0.500094596496471,
 0.513260276068664,
 0.528292784748475,
 0.545639513126783,
 0.59405421752662,
 0.6,
 0.629864441228583,
 0.64059790879704,
 0.64614480079943,
 0.648017352155805,
 0.649359529322165,
 0.658902812635255,
 0.658935697280242,
 0.660862448615202,
 0.661456726202185,
 0.669710330183439,
 0.671400872748967,
 0.677982292973425,
 0.688917483302502,
 0.689651418800236,
 0.695502825497666,
 0.695635037635121,
 0.7,
 0.719603145497286,
 0.725593876455664,
 0.727622731963295,
 0.73848053474539,
 0.739229843561974,
 0.756344082788405,
 0.764603522715202,
 0.766463712115552,
 0.774315936974916,
 0.776952892648974,
 0.779259128881328,
 0.780311663306436,
 0.784034490611778,
 0.786516460732223,
 0.78877980126192,
 0.8,
 0.801372039805443,
 0.8021404830608068,
 0.805078156293738,
 0.808073714856843,
 0.819833948678836,
 0.823379501452987,
 0.824325031262216,
 0.825506291109843,
 0.831626111609439,
 0.832776793048813,
 0.837305254439413,
 0.839930342366301,
 0.841262050303239,
 0.843593057317412,
 0.845347318151616,
 0.851897981263515,
 0.852491479309264,
 0.856427396685494,
 0.85884468137463,
 0.85962940969794,
 0.862130032171182,
 0.86505451675158,
 0.87797637171914,
 0.882064629967425,
 0.9,
 0.900074340804814,
 0.900424795766571,
 0.919971077014328,
 0.941460014413478,
 0.956594088575884,
 0.96427113356204,
 0.966959844122824,
 0.971238923558476,
 0.975885813816258,
 0.978046440528667,
 0.98644611373082,
 0.996622631864616,
 1.0,
 1.01050242166533,
 1.03657564081339,
 1.06177982733159,
 1.06197497825384,
 1.09716180411592,
 1.11042929095315,
 1.12448719441711,
 1.12536445564471,
 1.12582750006396,
 1.16481291134191,
 1.18191192158744,
 1.2,
 1.2071330379742,
 1.22450016074925,
 1.23925325491675,
 1.24322608465133,
 1.28059357476442,
 1.29461769461769,
 1.3,
 1.35053188345674,
 1.3537608979552,
 1.35949181616822,
 1.39475457591705,
 1.4,
 1.40899813582676,
 1.42411884285487,
 1.4505541637219,
 1.47746025687752,
 1.47790454147322,
 1.5,
 1.51766138331274,
 1.55048987066564,
 1.56067267149104,
 1.58302043257836,
 1.67379459270459,
 1.76633418534004,
 1.80949850243748,
 1.97023953754707,
 1.9813483357634,
 2.224496910979}

In [20]:
dataFore.isnull().any()

ปี                         False
จำนวนผู้ว่างงาน (พันคน)    False
เดือน                      False
ร้อยละ                     False
dtype: bool