<a href="https://colab.research.google.com/github/Jittiya/Co-operative-Education-Science./blob/main/Forecast_unemplloyment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
import numpy as np

In [3]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [4]:
path = '/content/drive/My Drive/Co-operative/data'

In [5]:
dataFore = pd.read_excel(os.path.join(path,'ข้อมูลจำนวนผู้ว่างงาน รายเดือน รายไตรมาส .xlsx'))
dataFore

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
0    2545.0                  1406.27      มกราคม  2.224497
1    2545.0                   934.94  กุมภาพันธ์  1.477905
2    2545.0                   901.54      มีนาคม  1.424119
3    2545.0                  1248.13      เมษายน  1.970240
4    2545.0                  1003.53     พฤษภาคม  1.583020
..      ...                      ...         ...       ...
247  2565.0                   492.90     สิงหาคม       NaN
248  2565.0                   462.80     กันยายน       NaN
249  2565.0                   559.80      ตุลาคม       NaN
250  2565.0                      NaN   พฤศจิกายน       NaN
251  2565.0                      NaN     ธันวาคม       NaN

[252 rows x 4 columns]

## แทนด้วยค่ากลางของคอลัมน์นั้น (Mean)

ในกรณีนี้จะหาค่ากลาง(mean) ของแต่ละคอลัมน์นั้น แล้วนำไปเติมในช่องที่เป็นค่าว่าง

In [6]:
dataFore[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    487.567787
dtype: float64

In [7]:
# หา mean
avg_unemploy = dataFore[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
dataFore[['จำนวนผู้ว่างงาน (พันคน)']] = dataFore[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy)

In [8]:
dataFore[['ร้อยละ']].mean()

ร้อยละ    0.80214
dtype: float64

In [9]:
# หา mean
avg_Per = dataFore[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
dataFore[['ร้อยละ']] = dataFore[['ร้อยละ']].fillna(avg_Per)

In [10]:
dataFore

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
0    2545.0              1406.270000      มกราคม  2.224497
1    2545.0               934.940000  กุมภาพันธ์  1.477905
2    2545.0               901.540000      มีนาคม  1.424119
3    2545.0              1248.130000      เมษายน  1.970240
4    2545.0              1003.530000     พฤษภาคม  1.583020
..      ...                      ...         ...       ...
247  2565.0               492.900000     สิงหาคม  0.802140
248  2565.0               462.800000     กันยายน  0.802140
249  2565.0               559.800000      ตุลาคม  0.802140
250  2565.0               487.567787   พฤศจิกายน  0.802140
251  2565.0               487.567787     ธันวาคม  0.802140

[252 rows x 4 columns]

In [11]:
set(dataFore["ปี"])

{2545.0,
 2546.0,
 2547.0,
 2548.0,
 2549.0,
 2550.0,
 2551.0,
 2552.0,
 2553.0,
 2554.0,
 2555.0,
 2556.0,
 2557.0,
 2558.0,
 2559.0,
 2560.0,
 2561.0,
 2562.0,
 2563.0,
 2564.0,
 2565.0}

In [12]:
set(dataFore["จำนวนผู้ว่างงาน (พันคน)"])

{157.58,
 162.65,
 171.65,
 190.64,
 203.57,
 209.96,
 219.23,
 219.45,
 219.79,
 222.52,
 224.21,
 225.95,
 241.35,
 245.08,
 247.04,
 248.18,
 254.67,
 256.34,
 263.71,
 266.85,
 267.65,
 267.99,
 270.41,
 270.52,
 276.4,
 284.01,
 284.65,
 284.73,
 286.65,
 288.5,
 295.26,
 299.96,
 300.14,
 302.5,
 302.91,
 310.51,
 314.5,
 315.91,
 316.83,
 319.53,
 321.02,
 321.8,
 321.95,
 323.87,
 328.55,
 331.14,
 333.66,
 335.4,
 340.72,
 343.31,
 344.07,
 345.74,
 346.05,
 346.48,
 346.52,
 346.54,
 349.41,
 349.99,
 352.86,
 354.39,
 354.74,
 354.77,
 355.24,
 355.9,
 359.02,
 359.97,
 361.43,
 362.18,
 363.13,
 363.86,
 363.99,
 366.95,
 367.46,
 369.12,
 372.84,
 373.93,
 376.5,
 377.32,
 378.07,
 378.3,
 378.79,
 381.74,
 382.47,
 383.02,
 383.93,
 384.8,
 384.98,
 389.48,
 389.61,
 391.27,
 391.77,
 391.86,
 392.26,
 396.04,
 396.95,
 401.71,
 402.55,
 404.01,
 404.5,
 405.51,
 410.46,
 414.93,
 415.14,
 419.5,
 419.6,
 420.6,
 425.22,
 426.05,
 426.37,
 426.63,
 429.33,
 429.71,
 432.11,
 435.23,
 436.07,
 437.34,
 440.3,
 440.67,
 443.42,
 446.29,
 446.56,
 447.63,
 447.75,
 448.8,
 450.03,
 450.89,
 451.38,
 453.49,
 457.48,
 458.1,
 459.48,
 459.8,
 462.8,
 471.72,
 472.97,
 474.55,
 475.7,
 476.33,
 480.58,
 487.56778723404244,
 488.28,
 489.49,
 489.7,
 490.83,
 491.44,
 492.9,
 493.03,
 495.67,
 501.35,
 503.41,
 505.9,
 507.4,
 508.26,
 508.6,
 512.52,
 513.7,
 516.93,
 519.59,
 522.25,
 523.47,
 529.92,
 534.88,
 535.51,
 537.1,
 538.54,
 540.41,
 540.48,
 545.65,
 545.9,
 547.24,
 548.65,
 550.78,
 554.86,
 555.0,
 559.8,
 560.52,
 562.28,
 562.44,
 565.4,
 576.69,
 578.68,
 580.6,
 585.82,
 589.66,
 590.03,
 597.66,
 601.8,
 614.28,
 618.6,
 622.63,
 631.2,
 632.99,
 633.9,
 637.77,
 641.04,
 642.6,
 655.62,
 674.99,
 693.0,
 693.58,
 710.67,
 714.62,
 719.38,
 723.9,
 725.1,
 733.39,
 734.9,
 759.26,
 764.9,
 769.0,
 781.17,
 783.76,
 788.11,
 808.8,
 810.19,
 816.77,
 829.28,
 830.95,
 840.66,
 868.79,
 878.9,
 887.29,
 901.54,
 917.88,
 926.68,
 934.94,
 944.53,
 988.19,
 996.33,
 1003.53,
 1152.6,
 1153.56,
 1248.13,
 1279.55,
 1406.27}

In [13]:
set(dataFore["เดือน"])

{'กรกฎาคม',
 'กันยายน',
 'กุมภาพันธ์',
 'ตุลาคม',
 'ธันวาคม',
 'พฤศจิกายน',
 'พฤษภาคม',
 'มกราคม',
 'มิถุนายน',
 'มีนาคม',
 'สิงหาคม',
 'เมษายน'}

In [14]:
set(dataFore["ร้อยละ"])

{0.0,
 0.3,
 0.301281925418414,
 0.316479326515768,
 0.377394518815963,
 0.4,
 0.404828470024264,
 0.484528611571458,
 0.497418867200778,
 0.498859096458005,
 0.5,
 0.500094596496471,
 0.513260276068664,
 0.528292784748475,
 0.545639513126783,
 0.59405421752662,
 0.6,
 0.629864441228583,
 0.64059790879704,
 0.64614480079943,
 0.648017352155805,
 0.649359529322165,
 0.658902812635255,
 0.658935697280242,
 0.660862448615202,
 0.661456726202185,
 0.669710330183439,
 0.671400872748967,
 0.677982292973425,
 0.688917483302502,
 0.689651418800236,
 0.695502825497666,
 0.695635037635121,
 0.7,
 0.719603145497286,
 0.725593876455664,
 0.727622731963295,
 0.73848053474539,
 0.739229843561974,
 0.756344082788405,
 0.764603522715202,
 0.766463712115552,
 0.774315936974916,
 0.776952892648974,
 0.779259128881328,
 0.780311663306436,
 0.784034490611778,
 0.786516460732223,
 0.78877980126192,
 0.8,
 0.801372039805443,
 0.8021404830608068,
 0.805078156293738,
 0.808073714856843,
 0.819833948678836,
 0.823379501452987,
 0.824325031262216,
 0.825506291109843,
 0.831626111609439,
 0.832776793048813,
 0.837305254439413,
 0.839930342366301,
 0.841262050303239,
 0.843593057317412,
 0.845347318151616,
 0.851897981263515,
 0.852491479309264,
 0.856427396685494,
 0.85884468137463,
 0.85962940969794,
 0.862130032171182,
 0.86505451675158,
 0.87797637171914,
 0.882064629967425,
 0.9,
 0.900074340804814,
 0.900424795766571,
 0.919971077014328,
 0.941460014413478,
 0.956594088575884,
 0.96427113356204,
 0.966959844122824,
 0.971238923558476,
 0.975885813816258,
 0.978046440528667,
 0.98644611373082,
 0.996622631864616,
 1.0,
 1.01050242166533,
 1.03657564081339,
 1.06177982733159,
 1.06197497825384,
 1.09716180411592,
 1.11042929095315,
 1.12448719441711,
 1.12536445564471,
 1.12582750006396,
 1.16481291134191,
 1.18191192158744,
 1.2,
 1.2071330379742,
 1.22450016074925,
 1.23925325491675,
 1.24322608465133,
 1.28059357476442,
 1.29461769461769,
 1.3,
 1.35053188345674,
 1.3537608979552,
 1.35949181616822,
 1.39475457591705,
 1.4,
 1.40899813582676,
 1.42411884285487,
 1.4505541637219,
 1.47746025687752,
 1.47790454147322,
 1.5,
 1.51766138331274,
 1.55048987066564,
 1.56067267149104,
 1.58302043257836,
 1.67379459270459,
 1.76633418534004,
 1.80949850243748,
 1.97023953754707,
 1.9813483357634,
 2.224496910979}

In [15]:
dataFore.isnull().any()

ปี                         False
จำนวนผู้ว่างงาน (พันคน)    False
เดือน                      False
ร้อยละ                     False
dtype: bool

## หาค่ากลางของแต่ละเดือนแล้วแทนค่า

In [22]:
dataForeM = pd.read_excel(os.path.join(path,'ข้อมูลจำนวนผู้ว่างงาน รายเดือน รายไตรมาส .xlsx'))
dataForeM

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
0    2545.0                  1406.27      มกราคม  2.224497
1    2545.0                   934.94  กุมภาพันธ์  1.477905
2    2545.0                   901.54      มีนาคม  1.424119
3    2545.0                  1248.13      เมษายน  1.970240
4    2545.0                  1003.53     พฤษภาคม  1.583020
..      ...                      ...         ...       ...
247  2565.0                   492.90     สิงหาคม       NaN
248  2565.0                   462.80     กันยายน       NaN
249  2565.0                   559.80      ตุลาคม       NaN
250  2565.0                      NaN   พฤศจิกายน       NaN
251  2565.0                      NaN     ธันวาคม       NaN

[252 rows x 4 columns]

In [23]:
set(dataForeM['เดือน'])

{'กรกฎาคม',
 'กันยายน',
 'กุมภาพันธ์',
 'ตุลาคม',
 'ธันวาคม',
 'พฤศจิกายน',
 'พฤษภาคม',
 'มกราคม',
 'มิถุนายน',
 'มีนาคม',
 'สิงหาคม',
 'เมษายน'}

In [24]:
data1 = dataForeM[dataForeM['เดือน']=='มกราคม']
data1

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
0    2545.0                  1406.27  มกราคม  2.224497
12   2546.0                  1153.56  มกราคม  1.809499
24   2547.0                  1279.55  มกราคม  1.981348
36   2548.0                  1152.60  มกราคม  1.766334
48   2549.0                   769.00  มกราคม  1.181912
60   2550.0                   590.03  มกราคม  0.900425
72   2551.0                   631.20  มกราคม  0.956594
84   2552.0                   878.90  มกราคม  1.673795
96   2553.0                   529.92  มกราคม  0.996623
108  2554.0                   373.93  มกราคม  0.695503
120  2555.0                   314.50  มกราคม  0.600000
132  2556.0                   321.02  มกราคม  0.600000
144  2557.0                   361.43  มกราคม  0.700000
156  2558.0                   404.01  มกราคม  0.700000
168  2559.0                   346.54  มกราคม  0.600000
180  2560.0                   448.80  มกราคม  0.800000
192  2561.0                   474.55  มกราคม  0.800000
204  2562.0                   389.61  มกราคม  0.700000
216  2563.0                   405.51  มกราคม  0.700000
228  2564.0                      NaN  มกราคม       NaN
240  2565.0                   764.90  มกราคม       NaN

In [26]:
data1[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    649.7915
dtype: float64

In [25]:
# หา mean
avg_unemploy1 = data1[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data1[['จำนวนผู้ว่างงาน (พันคน)']] = data1[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy1)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [87]:
data1[['ร้อยละ']].mean()

ร้อยละ    1.072975
dtype: float64

In [27]:
# หา mean
avg_Per1 = data1[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data1[['ร้อยละ']] = data1[['ร้อยละ']].fillna(avg_Per1)

In [28]:
data1

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
0    2545.0                1406.2700  มกราคม  2.224497
12   2546.0                1153.5600  มกราคม  1.809499
24   2547.0                1279.5500  มกราคม  1.981348
36   2548.0                1152.6000  มกราคม  1.766334
48   2549.0                 769.0000  มกราคม  1.181912
60   2550.0                 590.0300  มกราคม  0.900425
72   2551.0                 631.2000  มกราคม  0.956594
84   2552.0                 878.9000  มกราคม  1.673795
96   2553.0                 529.9200  มกราคม  0.996623
108  2554.0                 373.9300  มกราคม  0.695503
120  2555.0                 314.5000  มกราคม  0.600000
132  2556.0                 321.0200  มกราคม  0.600000
144  2557.0                 361.4300  มกราคม  0.700000
156  2558.0                 404.0100  มกราคม  0.700000
168  2559.0                 346.5400  มกราคม  0.600000
180  2560.0                 448.8000  มกราคม  0.800000
192  2561.0                 474.5500  มกราคม  0.800000
204  2562.0                 389.6100  มกราคม  0.700000
216  2563.0                 405.5100  มกราคม  0.700000
228  2564.0                 649.7915  มกราคม  1.072975
240  2565.0                 764.9000  มกราคม  1.072975

In [29]:
data2 = dataForeM[dataForeM['เดือน']=='กุมภาพันธ์']
data2

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
1    2545.0                   934.94  กุมภาพันธ์  1.477905
13   2546.0                   781.17  กุมภาพันธ์  1.224500
25   2547.0                   829.28  กุมภาพันธ์  1.280594
37   2548.0                   808.80  กุมภาพันธ์  1.239253
49   2549.0                   555.00  กุมภาพันธ์  0.852491
61   2550.0                   540.48  กุมภาพันธ์  0.824325
73   2551.0                   562.44  กุมภาพันธ์  0.851898
85   2552.0                   714.62  กุมภาพันธ์  1.359492
97   2553.0                   383.02  กุมภาพันธ์  0.719603
109  2554.0                   267.65  กุมภาพันธ์  0.497419
121  2555.0                   256.34  กุมภาพันธ์  0.500000
133  2556.0                   245.08  กุมภาพันธ์  0.400000
145  2557.0                   331.14  กุมภาพันธ์  0.600000
157  2558.0                   315.91  กุมภาพันธ์  0.600000
169  2559.0                   335.40  กุมภาพันธ์  0.600000
181  2560.0                   429.71  กุมภาพันธ์  0.800000
193  2561.0                   490.83  กุมภาพันธ์  0.900000
205  2562.0                   299.96  กุมภาพันธ์  0.500000
217  2563.0                   419.50  กุมภาพันธ์  0.700000
229  2564.0                      NaN  กุมภาพันธ์       NaN
241  2565.0                   565.40  กุมภาพันธ์       NaN

In [88]:
data2[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    503.3335
dtype: float64

In [30]:
# หา mean
avg_unemploy2 = data2[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data2[['จำนวนผู้ว่างงาน (พันคน)']] = data2[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [89]:
data2[['ร้อยละ']].mean()

ร้อยละ    0.838288
dtype: float64

In [31]:
# หา mean
avg_Per2 = data2[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data2[['ร้อยละ']] = data2[['ร้อยละ']].fillna(avg_Per2)

In [32]:
data2

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
1    2545.0                 934.9400  กุมภาพันธ์  1.477905
13   2546.0                 781.1700  กุมภาพันธ์  1.224500
25   2547.0                 829.2800  กุมภาพันธ์  1.280594
37   2548.0                 808.8000  กุมภาพันธ์  1.239253
49   2549.0                 555.0000  กุมภาพันธ์  0.852491
61   2550.0                 540.4800  กุมภาพันธ์  0.824325
73   2551.0                 562.4400  กุมภาพันธ์  0.851898
85   2552.0                 714.6200  กุมภาพันธ์  1.359492
97   2553.0                 383.0200  กุมภาพันธ์  0.719603
109  2554.0                 267.6500  กุมภาพันธ์  0.497419
121  2555.0                 256.3400  กุมภาพันธ์  0.500000
133  2556.0                 245.0800  กุมภาพันธ์  0.400000
145  2557.0                 331.1400  กุมภาพันธ์  0.600000
157  2558.0                 315.9100  กุมภาพันธ์  0.600000
169  2559.0                 335.4000  กุมภาพันธ์  0.600000
181  2560.0                 429.7100  กุมภาพันธ์  0.800000
193  2561.0                 490.8300  กุมภาพันธ์  0.900000
205  2562.0                 299.9600  กุมภาพันธ์  0.500000
217  2563.0                 419.5000  กุมภาพันธ์  0.700000
229  2564.0                 503.3335  กุมภาพันธ์  0.838288
241  2565.0                 565.4000  กุมภาพันธ์  0.838288

In [35]:
data3 = dataForeM[dataForeM['เดือน']=='มีนาคม']
data3

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
2    2545.0                   901.54  มีนาคม  1.424119
14   2546.0                   996.33  มีนาคม  1.560673
26   2547.0                   840.66  มีนาคม  1.294618
38   2548.0                   734.90  มีนาคม  1.125828
50   2549.0                   642.60  มีนาคม  0.986446
62   2550.0                   578.68  มีนาคม  0.882065
74   2551.0                   554.86  มีนาคม  0.839930
86   2552.0                   710.67  มีนาคม  1.350532
98   2553.0                   367.46  มีนาคม  0.689651
110  2554.0                   276.40  มีนาคม  0.513260
122  2555.0                   284.65  มีนาคม  0.500000
134  2556.0                   270.52  มีนาคม  0.500000
146  2557.0                   340.72  มีนาคม  0.600000
158  2558.0                   378.07  มีนาคม  0.700000
170  2559.0                   396.95  มีนาคม  0.700000
182  2560.0                   495.67  มีนาคม  0.900000
194  2561.0                   440.30  มีนาคม  0.800000
206  2562.0                   346.48  มีนาคม  0.600000
218  2563.0                   391.77  มีนาคม  0.700000
230  2564.0                      NaN  มีนาคม       NaN
242  2565.0                   489.70  มีนาคม       NaN

In [90]:
data3[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    521.9465
dtype: float64

In [36]:
# หา mean
avg_unemploy3 = data3[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data3[['จำนวนผู้ว่างงาน (พันคน)']] = data3[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy3)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [91]:
data3[['ร้อยละ']].mean()

ร้อยละ    0.877217
dtype: float64

In [37]:
# หา mean
avg_Per3 = data3[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data3[['ร้อยละ']] = data3[['ร้อยละ']].fillna(avg_Per3)

In [38]:
data3

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
2    2545.0                 901.5400  มีนาคม  1.424119
14   2546.0                 996.3300  มีนาคม  1.560673
26   2547.0                 840.6600  มีนาคม  1.294618
38   2548.0                 734.9000  มีนาคม  1.125828
50   2549.0                 642.6000  มีนาคม  0.986446
62   2550.0                 578.6800  มีนาคม  0.882065
74   2551.0                 554.8600  มีนาคม  0.839930
86   2552.0                 710.6700  มีนาคม  1.350532
98   2553.0                 367.4600  มีนาคม  0.689651
110  2554.0                 276.4000  มีนาคม  0.513260
122  2555.0                 284.6500  มีนาคม  0.500000
134  2556.0                 270.5200  มีนาคม  0.500000
146  2557.0                 340.7200  มีนาคม  0.600000
158  2558.0                 378.0700  มีนาคม  0.700000
170  2559.0                 396.9500  มีนาคม  0.700000
182  2560.0                 495.6700  มีนาคม  0.900000
194  2561.0                 440.3000  มีนาคม  0.800000
206  2562.0                 346.4800  มีนาคม  0.600000
218  2563.0                 391.7700  มีนาคม  0.700000
230  2564.0                 521.9465  มีนาคม  0.877217
242  2565.0                 489.7000  มีนาคม  0.877217

In [40]:
data4 = dataForeM[dataForeM['เดือน']=='เมษายน']
data4

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
3    2545.0                  1248.13  เมษายน  1.970240
15   2546.0                   926.68  เมษายน  1.450554
27   2547.0                   988.19  เมษายน  1.517661
39   2548.0                   788.11  เมษายน  1.207133
51   2549.0                   759.26  เมษายน  1.164813
63   2550.0                   632.99  เมษายน  0.964271
75   2551.0                   545.65  เมษายน  0.825506
87   2552.0                   816.77  เมษายน  1.550490
99   2553.0                   450.89  เมษายน  0.845347
111  2554.0                   284.73  เมษายน  0.528293
123  2555.0                   376.50  เมษายน  0.700000
135  2556.0                   346.52  เมษายน  0.600000
147  2557.0                   344.07  เมษายน  0.600000
159  2558.0                   323.87  เมษายน  0.600000
171  2559.0                   396.04  เมษายน  0.700000
183  2560.0                   472.97  เมษายน  0.800000
195  2561.0                   404.50  เมษายน  0.700000
207  2562.0                   363.99  เมษายน  0.600000
219  2563.0                      NaN  เมษายน  0.000000
231  2564.0                      NaN  เมษายน       NaN
243  2565.0                   505.90  เมษายน       NaN

In [92]:
data4[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    577.671579
dtype: float64

In [41]:
# หา mean
avg_unemploy4 = data4[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data4[['จำนวนผู้ว่างงาน (พันคน)']] = data4[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy4)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [93]:
data4[['ร้อยละ']].mean()

ร้อยละ    0.911806
dtype: float64

In [42]:
# หา mean
avg_Per4 = data4[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data4[['ร้อยละ']] = data4[['ร้อยละ']].fillna(avg_Per4)

In [43]:
data4

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
3    2545.0              1248.130000  เมษายน  1.970240
15   2546.0               926.680000  เมษายน  1.450554
27   2547.0               988.190000  เมษายน  1.517661
39   2548.0               788.110000  เมษายน  1.207133
51   2549.0               759.260000  เมษายน  1.164813
63   2550.0               632.990000  เมษายน  0.964271
75   2551.0               545.650000  เมษายน  0.825506
87   2552.0               816.770000  เมษายน  1.550490
99   2553.0               450.890000  เมษายน  0.845347
111  2554.0               284.730000  เมษายน  0.528293
123  2555.0               376.500000  เมษายน  0.700000
135  2556.0               346.520000  เมษายน  0.600000
147  2557.0               344.070000  เมษายน  0.600000
159  2558.0               323.870000  เมษายน  0.600000
171  2559.0               396.040000  เมษายน  0.700000
183  2560.0               472.970000  เมษายน  0.800000
195  2561.0               404.500000  เมษายน  0.700000
207  2562.0               363.990000  เมษายน  0.600000
219  2563.0               577.671579  เมษายน  0.000000
231  2564.0               577.671579  เมษายน  0.911806
243  2565.0               505.900000  เมษายน  0.911806

In [47]:
data5 = dataForeM[dataForeM['เดือน']=='พฤษภาคม']
data5

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
4    2545.0                  1003.53  พฤษภาคม  1.583020
16   2546.0                   944.53  พฤษภาคม  1.477460
28   2547.0                   917.88  พฤษภาคม  1.408998
40   2548.0                   725.10  พฤษภาคม  1.110429
52   2549.0                   508.26  พฤษภาคม  0.779259
64   2550.0                   576.69  พฤษภาคม  0.877976
76   2551.0                   550.78  พฤษภาคม  0.832777
88   2552.0                   655.62  พฤษภาคม  1.243226
100  2553.0                   585.82  พฤษภาคม  1.097162
112  2554.0                   203.57  พฤษภาคม  0.377395
124  2555.0                   359.02  พฤษภาคม  0.700000
136  2556.0                   302.50  พฤษภาคม  0.600000
148  2557.0                   362.18  พฤษภาคม  0.700000
160  2558.0                   354.39  พฤษภาคม  0.600000
172  2559.0                   453.49  พฤษภาคม  0.800000
184  2560.0                   501.35  พฤษภาคม  0.900000
196  2561.0                   401.71  พฤษภาคม  0.700000
208  2562.0                   426.05  พฤษภาคม  0.800000
220  2563.0                      NaN  พฤษภาคม  0.000000
232  2564.0                      NaN  พฤษภาคม       NaN
244  2565.0                   618.60  พฤษภาคม       NaN

In [94]:
data5[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    550.056316
dtype: float64

In [48]:
# หา mean
avg_unemploy5 = data5[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data5[['จำนวนผู้ว่างงาน (พันคน)']] = data5[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy5)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [95]:
data5[['ร้อยละ']].mean()

ร้อยละ    0.873037
dtype: float64

In [49]:
# หา mean
avg_Per5 = data5[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data5[['ร้อยละ']] = data5[['ร้อยละ']].fillna(avg_Per5)

In [50]:
data5

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
4    2545.0              1003.530000  พฤษภาคม  1.583020
16   2546.0               944.530000  พฤษภาคม  1.477460
28   2547.0               917.880000  พฤษภาคม  1.408998
40   2548.0               725.100000  พฤษภาคม  1.110429
52   2549.0               508.260000  พฤษภาคม  0.779259
64   2550.0               576.690000  พฤษภาคม  0.877976
76   2551.0               550.780000  พฤษภาคม  0.832777
88   2552.0               655.620000  พฤษภาคม  1.243226
100  2553.0               585.820000  พฤษภาคม  1.097162
112  2554.0               203.570000  พฤษภาคม  0.377395
124  2555.0               359.020000  พฤษภาคม  0.700000
136  2556.0               302.500000  พฤษภาคม  0.600000
148  2557.0               362.180000  พฤษภาคม  0.700000
160  2558.0               354.390000  พฤษภาคม  0.600000
172  2559.0               453.490000  พฤษภาคม  0.800000
184  2560.0               501.350000  พฤษภาคม  0.900000
196  2561.0               401.710000  พฤษภาคม  0.700000
208  2562.0               426.050000  พฤษภาคม  0.800000
220  2563.0               550.056316  พฤษภาคม  0.000000
232  2564.0               550.056316  พฤษภาคม  0.873037
244  2565.0               618.600000  พฤษภาคม  0.873037

In [51]:
data6 = dataForeM[dataForeM['เดือน']=='มิถุนายน']
data6

         ปี  จำนวนผู้ว่างงาน (พันคน)     เดือน    ร้อยละ
5    2545.0                   641.04  มิถุนายน  1.010502
17   2546.0                   719.38  มิถุนายน  1.124487
29   2547.0                   733.39  มิถุนายน  1.125364
41   2548.0                   693.58  มิถุนายน  1.061975
53   2549.0                   560.52  มิถุนายน  0.858845
65   2550.0                   516.93  มิถุนายน  0.786516
77   2551.0                   437.34  มิถุนายน  0.660862
89   2552.0                   547.24  มิถุนายน  1.036576
101  2553.0                   459.48  มิถุนายน  0.859629
113  2554.0                   162.65  มิถุนายน  0.301282
125  2555.0                   266.85  มิถุนายน  0.500000
137  2556.0                   219.45  มิถุนายน  0.400000
149  2557.0                   447.63  มิถุนายน  0.800000
161  2558.0                   321.80  มิถุนายน  0.600000
173  2559.0                   392.26  มิถุนายน  0.700000
185  2560.0                   414.93  มิถุนายน  0.700000
197  2561.0                   426.37  มิถุนายน  0.800000
209  2562.0                   363.13  มิถุนายน  0.600000
221  2563.0                      NaN  มิถุนายน  0.000000
233  2564.0                      NaN  มิถุนายน       NaN
245  2565.0                   580.60  มิถุนายน       NaN

In [96]:
data6[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    468.661579
dtype: float64

In [52]:
# หา mean
avg_unemploy6 = data6[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data6[['จำนวนผู้ว่างงาน (พันคน)']] = data6[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy6)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [97]:
data6[['ร้อยละ']].mean()

ร้อยละ    0.732949
dtype: float64

In [53]:
# หา mean
avg_Per6 = data6[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data6[['ร้อยละ']] = data6[['ร้อยละ']].fillna(avg_Per6)

In [55]:
data6

         ปี  จำนวนผู้ว่างงาน (พันคน)     เดือน    ร้อยละ
5    2545.0               641.040000  มิถุนายน  1.010502
17   2546.0               719.380000  มิถุนายน  1.124487
29   2547.0               733.390000  มิถุนายน  1.125364
41   2548.0               693.580000  มิถุนายน  1.061975
53   2549.0               560.520000  มิถุนายน  0.858845
65   2550.0               516.930000  มิถุนายน  0.786516
77   2551.0               437.340000  มิถุนายน  0.660862
89   2552.0               547.240000  มิถุนายน  1.036576
101  2553.0               459.480000  มิถุนายน  0.859629
113  2554.0               162.650000  มิถุนายน  0.301282
125  2555.0               266.850000  มิถุนายน  0.500000
137  2556.0               219.450000  มิถุนายน  0.400000
149  2557.0               447.630000  มิถุนายน  0.800000
161  2558.0               321.800000  มิถุนายน  0.600000
173  2559.0               392.260000  มิถุนายน  0.700000
185  2560.0               414.930000  มิถุนายน  0.700000
197  2561.0               426.370000  มิถุนายน  0.800000
209  2562.0               363.130000  มิถุนายน  0.600000
221  2563.0               468.661579  มิถุนายน  0.000000
233  2564.0               468.661579  มิถุนายน  0.732949
245  2565.0               580.600000  มิถุนายน  0.732949

In [56]:
data7 = dataForeM[dataForeM['เดือน']=='กรกฎาคม']
data7

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
6    2545.0                   597.66  กรกฎาคม  0.941460
18   2546.0                   489.49  กรกฎาคม  0.764604
30   2547.0                   493.03  กรกฎาคม  0.756344
42   2548.0                   523.47  กรกฎาคม  0.801372
54   2549.0                   420.60  กรกฎาคม  0.600000
66   2550.0                   457.48  กรกฎาคม  0.695635
78   2551.0                   491.44  กรกฎาคม  0.739230
90   2552.0                   475.70  กรกฎาคม  0.900074
102  2553.0                   345.74  กรกฎาคม  0.646145
114  2554.0                   295.26  กรกฎาคม  0.545640
126  2555.0                   225.95  กรกฎาคม  0.400000
138  2556.0                   355.24  กรกฎาคม  0.600000
150  2557.0                   378.79  กรกฎาคม  0.700000
162  2558.0                   384.80  กรกฎาคม  0.700000
174  2559.0                   391.27  กรกฎาคม  0.700000
186  2560.0                   476.33  กรกฎาคม  0.900000
198  2561.0                   382.47  กรกฎาคม  0.700000
210  2562.0                   436.07  กรกฎาคม  0.800000
222  2563.0                   830.95  กรกฎาคม  1.500000
234  2564.0                      NaN  กรกฎาคม       NaN
246  2565.0                   513.70  กรกฎาคม       NaN

In [98]:
data7[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    448.272
dtype: float64

In [57]:
# หา mean
avg_unemploy7 = data7[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data7[['จำนวนผู้ว่างงาน (พันคน)']] = data7[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy7)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [100]:
data7[['ร้อยละ']].mean()

ร้อยละ    0.757395
dtype: float64

In [101]:
# หา mean
avg_Per7 = data7[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data7[['ร้อยละ']] = data7[['ร้อยละ']].fillna(avg_Per7)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [102]:
data7

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
6    2545.0                  597.660  กรกฎาคม  0.941460
18   2546.0                  489.490  กรกฎาคม  0.764604
30   2547.0                  493.030  กรกฎาคม  0.756344
42   2548.0                  523.470  กรกฎาคม  0.801372
54   2549.0                  420.600  กรกฎาคม  0.600000
66   2550.0                  457.480  กรกฎาคม  0.695635
78   2551.0                  491.440  กรกฎาคม  0.739230
90   2552.0                  475.700  กรกฎาคม  0.900074
102  2553.0                  345.740  กรกฎาคม  0.646145
114  2554.0                  295.260  กรกฎาคม  0.545640
126  2555.0                  225.950  กรกฎาคม  0.400000
138  2556.0                  355.240  กรกฎาคม  0.600000
150  2557.0                  378.790  กรกฎาคม  0.700000
162  2558.0                  384.800  กรกฎาคม  0.700000
174  2559.0                  391.270  กรกฎาคม  0.700000
186  2560.0                  476.330  กรกฎาคม  0.900000
198  2561.0                  382.470  กรกฎาคม  0.700000
210  2562.0                  436.070  กรกฎาคม  0.800000
222  2563.0                  830.950  กรกฎาคม  1.500000
234  2564.0                  448.272  กรกฎาคม  0.757395
246  2565.0                  513.700  กรกฎาคม  0.757395

In [60]:
data8 = dataForeM[dataForeM['เดือน']=='สิงหาคม']
data8

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
7    2545.0                   614.28  สิงหาคม  0.966960
19   2546.0                   548.65  สิงหาคม  0.856427
31   2547.0                   545.90  สิงหาคม  0.837305
43   2548.0                   503.41  สิงหาคม  0.776953
55   2549.0                   508.60  สิงหาคม  0.800000
67   2550.0                   440.67  สิงหาคม  0.669710
79   2551.0                   446.56  สิงหาคม  0.671401
91   2552.0                   446.29  สิงหาคม  0.843593
103  2553.0                   352.86  สิงหาคม  0.658936
115  2554.0                   270.41  สิงหาคม  0.500095
127  2555.0                   224.21  สิงหาคม  0.400000
139  2556.0                   316.83  สิงหาคม  0.600000
151  2557.0                   286.65  สิงหาคม  0.500000
163  2558.0                   377.32  สิงหาคม  0.700000
175  2559.0                   359.97  สิงหาคม  0.600000
187  2560.0                   425.22  สิงหาคม  0.800000
199  2561.0                   402.55  สิงหาคม  0.700000
211  2562.0                   381.74  สิงหาคม  0.700000
223  2563.0                   723.90  สิงหาคม  1.300000
235  2564.0                      NaN  สิงหาคม       NaN
247  2565.0                   492.90  สิงหาคม       NaN

In [103]:
data8[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    433.446
dtype: float64

In [61]:
# หา mean
avg_unemploy8 = data8[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data8[['จำนวนผู้ว่างงาน (พันคน)']] = data8[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy8)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [104]:
data8[['ร้อยละ']].mean()

ร้อยละ    0.730599
dtype: float64

In [62]:
# หา mean
avg_Per8 = data8[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data8[['ร้อยละ']] = data8[['ร้อยละ']].fillna(avg_Per8)

In [63]:
data8

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
7    2545.0                  614.280  สิงหาคม  0.966960
19   2546.0                  548.650  สิงหาคม  0.856427
31   2547.0                  545.900  สิงหาคม  0.837305
43   2548.0                  503.410  สิงหาคม  0.776953
55   2549.0                  508.600  สิงหาคม  0.800000
67   2550.0                  440.670  สิงหาคม  0.669710
79   2551.0                  446.560  สิงหาคม  0.671401
91   2552.0                  446.290  สิงหาคม  0.843593
103  2553.0                  352.860  สิงหาคม  0.658936
115  2554.0                  270.410  สิงหาคม  0.500095
127  2555.0                  224.210  สิงหาคม  0.400000
139  2556.0                  316.830  สิงหาคม  0.600000
151  2557.0                  286.650  สิงหาคม  0.500000
163  2558.0                  377.320  สิงหาคม  0.700000
175  2559.0                  359.970  สิงหาคม  0.600000
187  2560.0                  425.220  สิงหาคม  0.800000
199  2561.0                  402.550  สิงหาคม  0.700000
211  2562.0                  381.740  สิงหาคม  0.700000
223  2563.0                  723.900  สิงหาคม  1.300000
235  2564.0                  433.446  สิงหาคม  0.730599
247  2565.0                  492.900  สิงหาคม  0.730599

In [64]:
data9 = dataForeM[dataForeM['เดือน']=='กันยายน']
data9

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
8    2545.0                   674.99  กันยายน  1.061780
20   2546.0                   622.63  กันยายน  0.971239
32   2547.0                   637.77  กันยายน  0.978046
44   2548.0                   471.72  กันยายน  0.727623
56   2549.0                   419.60  กันยายน  0.600000
68   2550.0                   426.63  กันยายน  0.648017
80   2551.0                   432.11  กันยายน  0.649360
92   2552.0                   458.10  กันยายน  0.865055
104  2553.0                   343.31  กันยายน  0.640598
116  2554.0                   295.26  กันยายน  0.545640
128  2555.0                   247.04  กันยายน  0.500000
140  2556.0                   263.71  กันยายน  0.500000
152  2557.0                   310.51  กันยายน  0.600000
164  2558.0                   300.14  กันยายน  0.500000
176  2559.0                   333.66  กันยายน  0.600000
188  2560.0                   443.42  กันยายน  0.800000
200  2561.0                   372.84  กันยายน  0.700000
212  2562.0                   384.98  กันยายน  0.700000
224  2563.0                   693.00  กันยายน  1.200000
236  2564.0                      NaN  กันยายน       NaN
248  2565.0                   462.80  กันยายน       NaN

In [105]:
data9[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    429.711
dtype: float64

In [65]:
# หา mean
avg_unemploy9 = data9[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data9[['จำนวนผู้ว่างงาน (พันคน)']] = data9[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy9)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [106]:
data9[['ร้อยละ']].mean()

ร้อยละ    0.72565
dtype: float64

In [66]:
# หา mean
avg_Per9 = data9[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data9[['ร้อยละ']] = data9[['ร้อยละ']].fillna(avg_Per9)

In [67]:
data9

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
8    2545.0                  674.990  กันยายน  1.061780
20   2546.0                  622.630  กันยายน  0.971239
32   2547.0                  637.770  กันยายน  0.978046
44   2548.0                  471.720  กันยายน  0.727623
56   2549.0                  419.600  กันยายน  0.600000
68   2550.0                  426.630  กันยายน  0.648017
80   2551.0                  432.110  กันยายน  0.649360
92   2552.0                  458.100  กันยายน  0.865055
104  2553.0                  343.310  กันยายน  0.640598
116  2554.0                  295.260  กันยายน  0.545640
128  2555.0                  247.040  กันยายน  0.500000
140  2556.0                  263.710  กันยายน  0.500000
152  2557.0                  310.510  กันยายน  0.600000
164  2558.0                  300.140  กันยายน  0.500000
176  2559.0                  333.660  กันยายน  0.600000
188  2560.0                  443.420  กันยายน  0.800000
200  2561.0                  372.840  กันยายน  0.700000
212  2562.0                  384.980  กันยายน  0.700000
224  2563.0                  693.000  กันยายน  1.200000
236  2564.0                  429.711  กันยายน  0.725650
248  2565.0                  462.800  กันยายน  0.725650

In [68]:
data10 = dataForeM[dataForeM['เดือน']=='ตุลาคม']
data10

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
9    2545.0                   887.29  ตุลาคม  1.394755
21   2546.0                   868.79  ตุลาคม  1.353761
33   2547.0                   562.28  ตุลาคม  0.862130
45   2548.0                   633.90  ตุลาคม  0.975886
57   2549.0                   601.80  ตุลาคม  0.919971
69   2550.0                   519.59  ตุลาคม  0.788780
81   2551.0                   451.38  ตุลาคม  0.677982
93   2552.0                   410.46  ตุลาคม  0.774316
105  2553.0                   354.77  ตุลาคม  0.661457
117  2554.0                   219.23  ตุลาคม  0.404828
129  2555.0                   222.52  ตุลาคม  0.400000
141  2556.0                   241.35  ตุลาคม  0.400000
153  2557.0                   288.50  ตุลาคม  0.500000
165  2558.0                   328.55  ตุลาคม  0.600000
177  2559.0                   450.03  ตุลาคม  0.800000
189  2560.0                   480.58  ตุลาคม  0.900000
201  2561.0                   383.93  ตุลาคม  0.700000
213  2562.0                   354.74  ตุลาคม  0.600000
225  2563.0                   810.19  ตุลาคม  1.400000
237  2564.0                      NaN  ตุลาคม       NaN
249  2565.0                   559.80  ตุลาคม       NaN

In [107]:
data10[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    481.484
dtype: float64

In [69]:
# หา mean
avg_unemploy10 = data10[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data10[['จำนวนผู้ว่างงาน (พันคน)']] = data10[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy10)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [108]:
data10[['ร้อยละ']].mean()

ร้อยละ    0.795467
dtype: float64

In [70]:
# หา mean
avg_Per10 = data10[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data10[['ร้อยละ']] = data10[['ร้อยละ']].fillna(avg_Per10)

In [71]:
data10

         ปี  จำนวนผู้ว่างงาน (พันคน)   เดือน    ร้อยละ
9    2545.0                  887.290  ตุลาคม  1.394755
21   2546.0                  868.790  ตุลาคม  1.353761
33   2547.0                  562.280  ตุลาคม  0.862130
45   2548.0                  633.900  ตุลาคม  0.975886
57   2549.0                  601.800  ตุลาคม  0.919971
69   2550.0                  519.590  ตุลาคม  0.788780
81   2551.0                  451.380  ตุลาคม  0.677982
93   2552.0                  410.460  ตุลาคม  0.774316
105  2553.0                  354.770  ตุลาคม  0.661457
117  2554.0                  219.230  ตุลาคม  0.404828
129  2555.0                  222.520  ตุลาคม  0.400000
141  2556.0                  241.350  ตุลาคม  0.400000
153  2557.0                  288.500  ตุลาคม  0.500000
165  2558.0                  328.550  ตุลาคม  0.600000
177  2559.0                  450.030  ตุลาคม  0.800000
189  2560.0                  480.580  ตุลาคม  0.900000
201  2561.0                  383.930  ตุลาคม  0.700000
213  2562.0                  354.740  ตุลาคม  0.600000
225  2563.0                  810.190  ตุลาคม  1.400000
237  2564.0                  481.484  ตุลาคม  0.795467
249  2565.0                  559.800  ตุลาคม  0.795467

In [72]:
data11 = dataForeM[dataForeM['เดือน']=='พฤศจิกายน']
data11

         ปี  จำนวนผู้ว่างงาน (พันคน)      เดือน    ร้อยละ
10   2545.0                   512.52  พฤศจิกายน  0.805078
22   2546.0                   540.41  พฤศจิกายน  0.841262
34   2547.0                   537.10  พฤศจิกายน  0.823380
46   2548.0                   447.75  พฤศจิกายน  0.688917
58   2549.0                   459.80  พฤศจิกายน  0.700000
70   2550.0                   415.14  พฤศจิกายน  0.629864
82   2551.0                   522.25  พฤศจิกายน  0.784034
94   2552.0                   391.86  พฤศจิกายน  0.738481
106  2553.0                   389.48  พฤศจิกายน  0.725594
118  2554.0                   321.95  พฤศจิกายน  0.594054
130  2555.0                   157.58  พฤศจิกายน  0.300000
142  2556.0                   284.01  พฤศจิกายน  0.500000
154  2557.0                   209.96  พฤศจิกายน  0.400000
166  2558.0                   346.05  พฤศจิกายน  0.600000
178  2559.0                   378.30  พฤศจิกายน  0.700000
190  2560.0                   435.23  พฤศจิกายน  0.800000
202  2561.0                   369.12  พฤศจิกายน  0.700000
214  2562.0                   429.33  พฤศจิกายน  0.800000
226  2563.0                   783.76  พฤศจิกายน  1.400000
238  2564.0                      NaN  พฤศจิกายน       NaN
250  2565.0                      NaN  พฤศจิกายน       NaN

In [109]:
data11[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    417.452632
dtype: float64

In [73]:
# หา mean
avg_unemploy11 = data11[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data11[['จำนวนผู้ว่างงาน (พันคน)']] = data11[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy11)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [110]:
data11[['ร้อยละ']].mean()

ร้อยละ    0.71214
dtype: float64

In [74]:
# หา mean
avg_Per11 = data11[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data11[['ร้อยละ']] = data11[['ร้อยละ']].fillna(avg_Per11)

In [75]:
data11

         ปี  จำนวนผู้ว่างงาน (พันคน)      เดือน    ร้อยละ
10   2545.0               512.520000  พฤศจิกายน  0.805078
22   2546.0               540.410000  พฤศจิกายน  0.841262
34   2547.0               537.100000  พฤศจิกายน  0.823380
46   2548.0               447.750000  พฤศจิกายน  0.688917
58   2549.0               459.800000  พฤศจิกายน  0.700000
70   2550.0               415.140000  พฤศจิกายน  0.629864
82   2551.0               522.250000  พฤศจิกายน  0.784034
94   2552.0               391.860000  พฤศจิกายน  0.738481
106  2553.0               389.480000  พฤศจิกายน  0.725594
118  2554.0               321.950000  พฤศจิกายน  0.594054
130  2555.0               157.580000  พฤศจิกายน  0.300000
142  2556.0               284.010000  พฤศจิกายน  0.500000
154  2557.0               209.960000  พฤศจิกายน  0.400000
166  2558.0               346.050000  พฤศจิกายน  0.600000
178  2559.0               378.300000  พฤศจิกายน  0.700000
190  2560.0               435.230000  พฤศจิกายน  0.800000
202  2561.0               369.120000  พฤศจิกายน  0.700000
214  2562.0               429.330000  พฤศจิกายน  0.800000
226  2563.0               783.760000  พฤศจิกายน  1.400000
238  2564.0               417.452632  พฤศจิกายน  0.712140
250  2565.0               417.452632  พฤศจิกายน  0.712140

In [76]:
data12= dataForeM[dataForeM['เดือน']=='ธันวาคม']
data12

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
11   2545.0                   488.28  ธันวาคม  0.766464
23   2546.0                   535.51  ธันวาคม  0.831626
35   2547.0                   534.88  ธันวาคม  0.819834
47   2548.0                   507.40  ธันวาคม  0.780312
59   2549.0                   355.90  ธันวาคม  0.500000
71   2550.0                   319.53  ธันวาคม  0.484529
83   2551.0                   538.54  ธันวาคม  0.808074
95   2552.0                   349.99  ธันวาคม  0.658903
107  2553.0                   267.99  ธันวาคม  0.498859
119  2554.0                   171.65  ธันวาคม  0.316479
131  2555.0                   190.64  ธันวาคม  0.300000
143  2556.0                   248.18  ธันวาคม  0.400000
155  2557.0                   219.79  ธันวาคม  0.400000
167  2558.0                   254.67  ธันวาคม  0.500000
179  2559.0                   302.91  ธันวาคม  0.500000
191  2560.0                   363.86  ธันวาคม  0.600000
203  2561.0                   349.41  ธันวาคม  0.600000
215  2562.0                   366.95  ธันวาคม  0.600000
227  2563.0                   589.66  ธันวาคม  1.000000
239  2564.0                      NaN  ธันวาคม       NaN
251  2565.0                      NaN  ธันวาคม       NaN

In [111]:
data12[['จำนวนผู้ว่างงาน (พันคน)']].mean()

จำนวนผู้ว่างงาน (พันคน)    366.091579
dtype: float64

In [77]:
# หา mean
avg_unemploy12 = data12[['จำนวนผู้ว่างงาน (พันคน)']].mean()
# เติม mean ลงไปแทนค่า missing
data12[['จำนวนผู้ว่างงาน (พันคน)']] = data12[['จำนวนผู้ว่างงาน (พันคน)']].fillna(avg_unemploy12)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [112]:
data12[['ร้อยละ']].mean()

ร้อยละ    0.598162
dtype: float64

In [78]:
# หา mean
avg_Per12 = data12[['ร้อยละ']].mean()
# เติม mean ลงไปแทนค่า missing
data12[['ร้อยละ']] = data12[['ร้อยละ']].fillna(avg_Per12)

In [79]:
data12

         ปี  จำนวนผู้ว่างงาน (พันคน)    เดือน    ร้อยละ
11   2545.0               488.280000  ธันวาคม  0.766464
23   2546.0               535.510000  ธันวาคม  0.831626
35   2547.0               534.880000  ธันวาคม  0.819834
47   2548.0               507.400000  ธันวาคม  0.780312
59   2549.0               355.900000  ธันวาคม  0.500000
71   2550.0               319.530000  ธันวาคม  0.484529
83   2551.0               538.540000  ธันวาคม  0.808074
95   2552.0               349.990000  ธันวาคม  0.658903
107  2553.0               267.990000  ธันวาคม  0.498859
119  2554.0               171.650000  ธันวาคม  0.316479
131  2555.0               190.640000  ธันวาคม  0.300000
143  2556.0               248.180000  ธันวาคม  0.400000
155  2557.0               219.790000  ธันวาคม  0.400000
167  2558.0               254.670000  ธันวาคม  0.500000
179  2559.0               302.910000  ธันวาคม  0.500000
191  2560.0               363.860000  ธันวาคม  0.600000
203  2561.0               349.410000  ธันวาคม  0.600000
215  2562.0               366.950000  ธันวาคม  0.600000
227  2563.0               589.660000  ธันวาคม  1.000000
239  2564.0               366.091579  ธันวาคม  0.598162
251  2565.0               366.091579  ธันวาคม  0.598162

## แทนด้วยค่าในแถวที่ใกล้เคียง

### แถวใกล้เคียงก่อนหน้า

In [84]:
data_previous = dataForeM

In [86]:
data_previous.fillna(method ='pad')

         ปี  จำนวนผู้ว่างงาน (พันคน)       เดือน    ร้อยละ
0    2545.0                  1406.27      มกราคม  2.224497
1    2545.0                   934.94  กุมภาพันธ์  1.477905
2    2545.0                   901.54      มีนาคม  1.424119
3    2545.0                  1248.13      เมษายน  1.970240
4    2545.0                  1003.53     พฤษภาคม  1.583020
..      ...                      ...         ...       ...
247  2565.0                   492.90     สิงหาคม  1.000000
248  2565.0                   462.80     กันยายน  1.000000
249  2565.0                   559.80      ตุลาคม  1.000000
250  2565.0                   559.80   พฤศจิกายน  1.000000
251  2565.0                   559.80     ธันวาคม  1.000000

[252 rows x 4 columns]