<a href="https://colab.research.google.com/github/Jittiya/Co-operative-Education-Science./blob/main/Test_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:

from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/Co-operative'

In [4]:
data1 = pd.read_csv(os.path.join(path,'open-data-iod1.csv')) 
data1

,สถิติการให้บริการผู้ป่วยด้านทันตกรรมของสถาบันทันตกรรม,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,การให้บริการ,ปี 2561,ปี 2562,ปี 2563,ปี 2564,ปี 2565
1,NaN,จำนวน (คน),จำนวน (คน),จำนวน (คน),จำนวน (คน),(1 ต.ค.64 - 31 พ.ค.65)
2,NaN,NaN,NaN,NaN,NaN,จำนวน (คน)
3,ในเวลาราชการ,"23,042","24,669","20,487","14,951","14,827"
4,นอกเวลาราชการ,"18,763","19,209","15,081","15,198","11,890"
5,รวม,"41,805","43,878","35,568","30,149","26,717"

In [13]:
data3 = pd.read_csv(os.path.join(path,'OS_02_0016_01.csv')) 
data3

,year,quarter,region,area,industry,value,unit,source
0,2558,ไตรมาสที่ 1,ทั่วประเทศ,รวม,ภาคเกษตรกรรม (รวม),30.48,ร้อยละ,สำนักงานสถิติแห่งชาติ
1,2558,ไตรมาสที่ 3,ภาคตะวันออกเฉียงเหนือ,รวม,ภาคเกษตรกรรม (รวม),55.72,ร้อยละ,สำนักงานสถิติแห่งชาติ
2,2559,ไตรมาสที่ 2,ภาคกลาง,รวม,ภาคเกษตรกรรม (รวม),17.33,ร้อยละ,สำนักงานสถิติแห่งชาติ
3,2559,ไตรมาสที่ 4,ภาคใต้,ในเขตเทศบาล,ภาคเกษตรกรรม (รวม),18.50,ร้อยละ,สำนักงานสถิติแห่งชาติ
4,2560,ไตรมาสที่ 3,ภาคเหนือ,ในเขตเทศบาล,ภาคเกษตรกรรม (รวม),26.10,ร้อยละ,สำนักงานสถิติแห่งชาติ
...,...,...,...,...,...,...,...,...
7917,2563,ไตรมาสที่ 2,ทั่วประเทศ,ในเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.30,ร้อยละ,สำนักงานสถิติแห่งชาติ
7918,2563,ไตรมาสที่ 2,กรุงเทพมหานคร,ในเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.80,ร้อยละ,สำนักงานสถิติแห่งชาติ
7919,2563,ไตรมาสที่ 2,ภาคกลาง,รวม,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ
7920,2563,ไตรมาสที่ 2,ภาคกลาง,ในเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ
7921,2563,ไตรมาสที่ 2,ภาคกลาง,นอกเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ

In [18]:
set(data3['industry'])

{'นอกภาคเกษตรกรรม (การก่อสร้าง)',
 'นอกภาคเกษตรกรรม (การขนส่ง  และสถานที่เก็บสินค้า)',
 'นอกภาคเกษตรกรรม (การขายส่ง และการขายปลีก การซ่อมแซมยานยนต์ และรถจักรยานยนต์ )',
 'นอกภาคเกษตรกรรม (การจัดหาน้ำ การจัดการ และการบำบัดน้ำเสีย ของเสีย และสิ่งปฏิกูล)',
 'นอกภาคเกษตรกรรม (การทำเหมืองแร่ และเหมืองหิน)',
 'นอกภาคเกษตรกรรม (การบริหารราชการ การป้องกันประเทศและการประกันสังคมภาคบังคับ)',
 'นอกภาคเกษตรกรรม (การผลิต)',
 'นอกภาคเกษตรกรรม (การศึกษา)',
 'นอกภาคเกษตรกรรม (กิจกรรมการจ้างงานในครัวเรือนส่วนบุคคล)',
 'นอกภาคเกษตรกรรม (กิจกรรมการบริหารและการบริการสนับสนุน)',
 'นอกภาคเกษตรกรรม (กิจกรรมขององค์การระหว่างประเทศ)',
 'นอกภาคเกษตรกรรม (กิจกรรมด้านสุขภาพและงานสังคมสงเคราะห์)',
 'นอกภาคเกษตรกรรม (กิจกรรมทางวิชาชีพ วิทยาศาสตร์ และเทคนิค)',
 'นอกภาคเกษตรกรรม (กิจกรรมบริการด้านอื่น ๆ)',
 'นอกภาคเกษตรกรรม (กิจกรรมอสังหาริมทรัพย์)',
 'นอกภาคเกษตรกรรม (กิจการทางการเงินและการประกันภัย)',
 'นอกภาคเกษตรกรรม (ข้อมูลข่าวสารและการสื่อสาร)',
 'นอกภาคเกษตรกรรม (ที่พักแรม และการบริการด้านอาหาร)',
 'นอกภาคเกษตรกรรม (รวม)',
 'นอกภาคเกษตรกรรม (ศิลปะ ความบันเทิง และนันทนาการ)',
 'นอกภาคเกษตรกรรม (ไฟฟ้า ก๊าซ ไอน้ำ และระบบปรับอากาศ)',
 'นอกภาคเกษตรกรรม (ไม่ทราบ)',
 'ภาคเกษตรกรรม (รวม)',
 'ภาคเกษตรกรรม (เกษตรกรรม การป่าไม้ และการประมง)'}

In [14]:
data4 = pd.read_csv(os.path.join(path,'OS_02_0016_02.csv')) 
data4

,year,quarter,region,area,level_of_edu,value,unit,source
0,2558,ไตรมาสที่ 1,ทั่วประเทศ,รวม,ไม่มีการศึกษา,3.32,ร้อยละ,สำนักงานสถิติแห่งชาติ
1,2558,ไตรมาสที่ 3,ภาคตะวันออกเฉียงเหนือ,นอกเขตเทศบาล,ไม่มีการศึกษา,1.14,ร้อยละ,สำนักงานสถิติแห่งชาติ
2,2559,ไตรมาสที่ 2,ภาคเหนือ,นอกเขตเทศบาล,ไม่มีการศึกษา,7.52,ร้อยละ,สำนักงานสถิติแห่งชาติ
3,2560,ไตรมาสที่ 1,ภาคกลาง,ในเขตเทศบาล,ไม่มีการศึกษา,4.60,ร้อยละ,สำนักงานสถิติแห่งชาติ
4,2560,ไตรมาสที่ 4,ทั่วประเทศ,นอกเขตเทศบาล,ไม่มีการศึกษา,3.10,ร้อยละ,สำนักงานสถิติแห่งชาติ
...,...,...,...,...,...,...,...,...
4540,2563,ไตรมาสที่ 2,ภาคเหนือ,รวม,ไม่ทราบ,0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ
4541,2563,ไตรมาสที่ 2,ภาคเหนือ,ในเขตเทศบาล,ไม่ทราบ,0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ
4542,2563,ไตรมาสที่ 2,ภาคใต้,รวม,ไม่ทราบ,0.70,ร้อยละ,สำนักงานสถิติแห่งชาติ
4543,2563,ไตรมาสที่ 2,ภาคใต้,ในเขตเทศบาล,ไม่ทราบ,1.60,ร้อยละ,สำนักงานสถิติแห่งชาติ
4544,2563,ไตรมาสที่ 2,ภาคใต้,นอกเขตเทศบาล,ไม่ทราบ,0.30,ร้อยละ,สำนักงานสถิติแห่งชาติ

In [ ]:
data4_cut = data4[['year','quarter','ที่อยู่จุดบริการ','ละติจูด','ลองติจูด','6 ภูมิภาค (ภูมิศาสตร์)']]  # เลือกข้อมูลที่ต้องการ
data4_cut

In [17]:
merged_table = data3.merge(data4,how='left',left_on='region',right_on='region')
merged_table

,year_x,quarter_x,region,area_x,industry,value_x,unit_x,source_x,year_y,quarter_y,area_y,level_of_edu,value_y,unit_y,source_y
0,2558,ไตรมาสที่ 1,ทั่วประเทศ,รวม,ภาคเกษตรกรรม (รวม),30.48,ร้อยละ,สำนักงานสถิติแห่งชาติ,2558,ไตรมาสที่ 1,รวม,ไม่มีการศึกษา,3.32,ร้อยละ,สำนักงานสถิติแห่งชาติ
1,2558,ไตรมาสที่ 1,ทั่วประเทศ,รวม,ภาคเกษตรกรรม (รวม),30.48,ร้อยละ,สำนักงานสถิติแห่งชาติ,2560,ไตรมาสที่ 4,นอกเขตเทศบาล,ไม่มีการศึกษา,3.10,ร้อยละ,สำนักงานสถิติแห่งชาติ
2,2558,ไตรมาสที่ 1,ทั่วประเทศ,รวม,ภาคเกษตรกรรม (รวม),30.48,ร้อยละ,สำนักงานสถิติแห่งชาติ,2560,ไตรมาสที่ 4,รวม,ต่ำกว่าประถมศึกษา,19.50,ร้อยละ,สำนักงานสถิติแห่งชาติ
3,2558,ไตรมาสที่ 1,ทั่วประเทศ,รวม,ภาคเกษตรกรรม (รวม),30.48,ร้อยละ,สำนักงานสถิติแห่งชาติ,2562,ไตรมาสที่ 4,ในเขตเทศบาล,ต่ำกว่าประถมศึกษา,12.50,ร้อยละ,สำนักงานสถิติแห่งชาติ
4,2558,ไตรมาสที่ 1,ทั่วประเทศ,รวม,ภาคเกษตรกรรม (รวม),30.48,ร้อยละ,สำนักงานสถิติแห่งชาติ,2561,ไตรมาสที่ 3,นอกเขตเทศบาล,ประถมศึกษา,25.30,ร้อยละ,สำนักงานสถิติแห่งชาติ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6480025,2563,ไตรมาสที่ 2,ภาคกลาง,นอกเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ,2563,ไตรมาสที่ 1,ในเขตเทศบาล,ไม่ทราบ,2.70,ร้อยละ,สำนักงานสถิติแห่งชาติ
6480026,2563,ไตรมาสที่ 2,ภาคกลาง,นอกเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ,2563,ไตรมาสที่ 1,นอกเขตเทศบาล,ไม่ทราบ,0.80,ร้อยละ,สำนักงานสถิติแห่งชาติ
6480027,2563,ไตรมาสที่ 2,ภาคกลาง,นอกเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ,2563,ไตรมาสที่ 2,รวม,ไม่ทราบ,1.30,ร้อยละ,สำนักงานสถิติแห่งชาติ
6480028,2563,ไตรมาสที่ 2,ภาคกลาง,นอกเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ,2563,ไตรมาสที่ 2,ในเขตเทศบาล,ไม่ทราบ,1.60,ร้อยละ,สำนักงานสถิติแห่งชาติ
6480029,2563,ไตรมาสที่ 2,ภาคกลาง,นอกเขตเทศบาล,นอกภาคเกษตรกรรม (ไม่ทราบ),0.10,ร้อยละ,สำนักงานสถิติแห่งชาติ,2563,ไตรมาสที่ 2,นอกเขตเทศบาล,ไม่ทราบ,1.00,ร้อยละ,สำนักงานสถิติแห่งชาติ